<form id="this-note-{{.Id}}" class="group hover:bg-slate-100 flex flex-row items-center gap-8">

    <div id="note" class="p-4 border-2 border-solid bg-slate-50 flex flex-col space-y-2">
        <label for="note-edit">Edit note</label>
        <textarea id="note-edit" rows="4" cols="50" name="edit-note"
                  class="p-2 grow h-32 self-center border-solid border-2 rounded text-teal-900"
                  hx-validate="true"
        >{{.Text}}</textarea>
    </div>
    <button hx-put="/note?note_id={{.Id}}"
            hx-trigger="click"
            hx-target="#this-note-{{.Id}}"
            hx-swap="outerHTML"
            id="button"
            class="bg-teal-500 p-2 border-solid rounded text-white self-center col-span-1"
    >
        Update
    </button>
</form>