<div class="flex flex-col items-stretch space-y-4" id="all-notes">
    <div class="" id="add-note">

    </div>
    <h2 class="font-bold text-xl text-teal-900 border-b-2 w-full pb-4">All notes</h2>
    {{range .Notes}}
    <div id="this-note-{{.Id}}" class="group hover:bg-slate-100 flex flex-row items-center gap-8">
        <div class=" p-4 border-2 border-solid bg-slate-50 basis-3/4"
             id="note-{{.Id}}">{{.Text}}
        </div>
        <button hx-get="/edit_note?note_id={{.Id}}"
                hx-trigger="click"
                hx-target="#this-note-{{.Id}}"
                hx-swap="outerHTML"
                id="button"
                class="invisible group-hover:visible bg-teal-500 p-2 border-solid rounded text-white self-start basis-1/4"
        >
            Edit
        </button>
    </div>

    {{else}}
    <div>You do not have any note for this course</div>
    {{end}}
    <button hx-get="/add_note?course={{.Title}}"
            hx-trigger="click"
            hx-target="#add-note"
            hx-swap="innerHTML transition:true"
            class="bg-teal-500 p-2 border-solid rounded text-white self-center"
    >
        Add a new note to this course
    </button>
</div>