<div class="flex flex-col items-center">

    <div class="grid grid-cols-3 gap-8 items-center">
        <div class="container justify-self-start col-span-1">
            <img src="" class="h-12 w-12">
        </div>
        <div class="col-span-2">
            <h1 class="text-xl font-extrabold">{{.FullName}}</h1>
        </div>

        <div class="font-bold col-span-1">
            Years of Experience:
        </div>
        <div class="col-span-2">
            {{.YearsOfExperience}}
        </div>
        <div class="col-span-1">
            Note to students:
        </div>
        <div class="col-span-2">
            I hate noise in my classes. Always come with your textbooks!
        </div>

    </div>

</div>