<div class="flex flex-col items-center">
    <div class="flex flex-row items-center">
        <div class="basis-1/2">
            <h1 class="text-xl font-extrabold">{{.FullName}}</h1>
        </div>
        <div class="container self-center flex-auto">
            <img src="" class="h-12 w-12">
        </div>
    </div>
    <div class="flex flex-row items-center">
        <div class="font-bold">
            Years of Experience:
        </div>
        <div>
            {{.YearsOfExperience}}
        </div>
    </div>

</div>