{{template "partials/navbar" .}}

<div class="flex flex-col space-y-4 ml-12 mt-32">

    <h1 class="text-2xl font-extrabold self-start">
        Welcome {{.Student.Username }}
    </h1>


    <div class="flex flex-row">
        <div class="basis-1/2 flex flex-col ">
            <h3 class="text-xl font-bold p-2">
                Here are the courses for today.
            </h3>

            {{range .coursesForTheDay}}
            <div class="p-2 border-2 border-solid flex flex-row space-x-2 items-stretch">
                <div class="self-center p-2">{{.Title}}</div>
                <div class="self-center p-2">{{.Description}}</div>

                <button hx-get="/notes?course={{.Title}}"
                        hx-trigger="click"
                        hx-target="#info-div"
                        hx-swap="innerHTML"

                        class="bg-indigo-500 p-2 border-solid rounded text-white self-center"
                >
                    See notes
                </button>
            </div>
            {{else}}
            <div>
                You have no course for today, interesting!
            </div>
            {{end}}
            <div class="mb-8 mt-12 flex flex-col">

                <h3 class="text-xl font-bold p-2">
                    Here are all the courses you offer.
                </h3>

                <div class="flex flex-col items-stretch items-center">

                    {{range .Student.Courses}}
                    <div class="p-2 border-2 border-solid flex flex-row space-x-2 items-stretch">
                        <div class="self-center p-2">{{.Title}}</div>
                        <div class="self-center p-2">{{.Description}}</div>
                        <div class="justify-self-end">
                            <button hx-get="/tutor?course={{.Title}}"
                                    hx-trigger="click"
                                    hx-target="#info-div"
                                    hx-swap="innerHTML"

                                    class="bg-indigo-500 p-2 border-solid rounded text-white self-center"
                            >
                                See tutor
                            </button>
                        </div>
                    </div>
                    {{end}}
                </div>
            </div>

            <div class="flex basis-1/2 flex-row">
            </div>

        </div>
        <div class="flex basis-1/2 flex-col flex items-stretch">
            <div id="info-div">

            </div>
        </div>
    </div>


</div>
